* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    display: block;
    content: "";
    clear: both;
}

body {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

header {
    position: fixed;
    height: 24vh;
    width: 100%;
    background-color: #fff;
}

.header-logo {
    position: fixed;
    top: 2vh;
    left: 3vw;
}

.header-logo img {
    height: 20vh;
}

.header-menu-btn {
    position: fixed;
    top: 10vh;
    right: 7vw;
}

.header-menu-btn p {
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
    font-size: 20px;
}

.header-menu-btn .burger {
    cursor: pointer;
    display: inline;
    font-size: 20px;
}

.burger.active {
    color: red;
    z-index: 1;
}

.burger.active+aside {
    left: 0;
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -60%;
    width: 60%;
    background-color: black;
    transition: .3s;
}

aside nav ul li {
    margin-top: 7vh;
    text-align: center;
}

aside nav ul li:first-child {
    margin-top: 10vh;
}


aside nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

aside nav ul li a:hover {
    color: red;
    border-bottom: 2px solid red;
}

.nav_desctop {
    display: none;
}

section.header_bgi {
    position: relative;
    top: 24vh;
    height: 76vh;
    width: 100%;
    background-image: url(../img/bg1.jpeg);
    background-size: cover;
    background-position: 43% 0;
    background-repeat: no-repeat;
    z-index: -1;
}

.header_bgi_cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.header_bgi .header_motto {
    position: relative;
    width: 75%;
    height: 0;
    top: 55vh;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
    text-align: center;
    border-top: 3px solid red;
}

.header_bgi .header_motto h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    color: white;
    font-size: 31px;
    opacity: 0;
    animation: motto 21s infinite linear;
}

.header_motto h1:nth-child(2) {
    animation-delay: 7s;
}

.header_motto h1:nth-child(3) {
    animation-delay: 14s;

}

@keyframes motto {
    0% {
        opacity: 0;

    }

    10% {
        opacity: 1;

    }

    33.33% {
        opacity: 1;

    }

    38% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width:560px) {
    header {
        height: 29vh;
    }

    .header-logo {
        left: 15vw;
    }

    .header-logo img {
        height: 25vh;
    }

    .header-menu-btn {
        right: 15vw;
        top: 11vh;
    }

    .header-menu-btn p {
        letter-spacing: 4px;
        margin-right: 15px;
        font-size: 18px;
    }

    .header-menu-btn .burger {
        font-size: 18px;
    }

    section.header_bgi {
        top: 29vh;
        height: 71vh;
        background-position: 43% 60%;
    }

    .header_bgi .header_motto {
        width: 50%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header_bgi .header_motto h1 {
        width: 85%;
        font-size: 25px;
    }

    .header_motto h1:nth-child(2) {
        animation-delay: 7s;
    }

    .header_motto h1:nth-child(3) {
        animation-delay: 14s;
    }
}

@media (min-width: 560px) and (orientation: landscape) {
    aside nav ul li {
        margin-top: 10vh;
    }

    aside nav ul li:first-child {
        margin-top: 13vh;
    }
}

@media (min-width: 760px) and (orientation: portrait) {
    header {
        height: 23vh;
    }

    .header-logo {
        top: 2vh;
        left: 5vh;
    }

    .header-logo img {
        height: 20vh;
    }

    .header-menu-btn {
        top: 10vh;
        right: 15vw;
    }

    .header-menu-btn p {
        font-size: 30px;
    }

    .header-menu-btn .burger {
        font-size: 30px;
    }

    section.header_bgi {
        top: 23vh;
        height: 77vh;
    }

    aside nav ul li a {
        font-size: 35px;
    }

    .header_bgi .header_motto {
        width: 60%;
        top: 70%;
        transform: translate(-50%, -50%);
        border-top: 5px solid red;
    }

    .header_bgi .header_motto h1 {
        width: 85%;
        font-size: 38px;
    }

}

@media (min-width: 1024px) and (orientation: landscape) {
    .header-logo {
        left: 15vh;
    }

    .header-menu-btn {
        top: 12vh;
    }

    .header-menu-btn p {
        font-size: 25px;
    }

    .header-menu-btn .burger {
        font-size: 25px;
    }

    aside nav ul li a {
        font-size: 30px;
    }

    .header_bgi .header_motto {
        width: 50%;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header_bgi .header_motto h1 {
        width: 85%;
        font-size: 33px;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    .header-logo {
        left: 5vh;
    }

    .header-menu-btn {
        top: 10vh;
    }

    .header-menu-btn p {
        font-size: 35px;
    }

    .header-menu-btn .burger {
        font-size: 35px;
    }

    aside nav ul li a {
        font-size: 40px;
    }

    .header_bgi .header_motto {
        width: 55%;
        top: 70%;
    }

    .header_bgi .header_motto h1 {
        width: 95%;
        font-size: 55px;
    }
}

@media (min-width: 1280px) {
    .header-menu-btn {
        display: none;
    }

    .header-logo {
        left: 10vw;
    }

    .nav_desctop {
        position: fixed;
        top: 13vh;
        left: 55vw;
        display: inline-block;
    }

    .nav_desctop ul li {
        display: inline;
        margin-left: 2.5vw;
    }

    .nav_desctop ul li a {
        text-decoration: none;
        color: black;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        font-size: 27px;
    }

    .nav_desctop ul li a:hover {
        color: red;
        border-bottom: 2px solid red;
    }
}